<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/principal.css">
    <title>API</title>
</head>
<body>
    <p>API EVIDENCIA</p>
    <p class="rutasP">Rutas</p>
    <a href="/">Principal</a>
    <p class="rutas">generos</p>
    <a href="/genero">generos</a>
    <p class="rutas">canciones</p>
    <a href="/cancion">canciones</a>
    <p class="rutas">albums</p>
    <a href="/album">albums</a>
</body>
</html>